
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '<secret_db_name>',
        'USER': '<secret_db_user>',
        'PASSWORD': '<secret_db_password>',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
